<h3>Mat's Cryptocurrency API Project</h3>
<p>Enter a cryptocurrency ticker in the input field to see prices across multiple exchanges.</p>
<form method="POST">
    <input placeholder='ticker' name="text">
    <input type="submit">
</form>
<div>
  {% for obj in data %}
      <td>{{ obj['exchange'] }}</td>
      <td>$ {{ obj['price'] }}</td>
  {% endfor %}
</div>